<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Spring boot</title>
	<meta name="author" content="Artur Neves Almeida">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
</head>

<body>
	<header>
		<div th:replace="fragmentos/fragmento :: cabecalho"></div>
		</header>
<main>
	
	<section class="section" style="background-image: url(img/tela_fundo.jpg);">
		<div class="sombra">
			<div class="center text-main">
				<h1 class="text-center">Sistema de Gerenciamento de Alunos</h1>

                    

				<div class="botoes">
					<div class="wm">
						<a th:href="@{/inseriraluno}"  class="botao"> cadastrar aluno</a>
					</div>
					<div class="wm">
						<a data-toggle="modal" data-target="#modalp"  class="botao">pesquisar aluno</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
	</section>
	</div>
	
	<div class="modal fade" id="modalp">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5> Achar Aluno</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form method="get" action="/ListAlunos/Nome" th:object="${aluno}">
						<input placeholder="Ex. Mario" type="text" th:field="*{nome}" class="form-control"/>
					
					<div class="modal-footer"> 
						<button class="btn btn-danger" data-dismiss="modal">Fechar</button>
						<button class="btn btn-success" type="submit" >Pesquisar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>
	<footer>
	<div th:replace="fragmentos/fragmento :: rodape"></div>
</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
     <script src="script/Capturar.js"></script>
</body>

</html>